body.body{
	background-color: pink;
}

h3.entete{
	color: black;

}

form.Formulaire{
	font-family: Lucida Calligraphy;
}
p.robo{
	font-family: Algerian;
}

table.table{
	color: blue;
}